@charset "UTF-8";

/*
    em HTML é id    = em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-color: rgb(212, 252, 239);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

h1{
    color: rgb(51, 206, 154);
}
h1#principal{
    text-align: center;
    background-color: rgb(51, 206, 154);
    color: white;
}
h2{
    color: rgb(94, 216, 177);
}
.basico{
    color: rgb(122, 216, 94);

}
.intermediario{
    color: rgb(208, 216, 94);

}
.avancado{
    color: rgb(216, 94, 94);

}
.destaque{
    background-color: rgb(195, 171, 214);
}